
/* .navbar-nav {
    margin-right: -60px;
} */

/* .bg-dark {
    background-color: black!important;
    transition: all 0.6s ease; 
} */

#duro {
    margin: 0px 10px;
    justify-content: space-between;
    padding-right: 100px;
}

