
body {
  padding: 0px;
  margin: 0px;
  background-color: #212529;
}

.input-focus:focus {
  outline: none !important;
  border:1px solid #00e676;
  box-shadow: 0 0 6px #00e676;
}

#category-capitalize {
  text-transform: capitalize;
}

.card-grid {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 35% 35% 30% ;
}


#card-container {
  padding: 10px;
  padding-top: 30px;
}

.contenidoc {
  /* background-color: #212529; */
  color: white;
}

@media only screen and (max-width: 1025px) {

  .card-grid {
    display: grid;;
    grid-template-columns: 93%;
    grid-template-rows: 8%;
  }

}
