
body {
  padding: 0px;
  margin: 0px;
}


.card-grid {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around;; */
  display: grid;
  grid-template-columns: 33% 33% 33% ;
}

#card-container {
  padding: 10px;
  padding-top: 30px;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  
}

/* #contenidoc {
  background-color: #112031
} */


